name: Graph validation tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validate-ttl-syntax:
    name: Validate turtle files (`.ttl`) syntax
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Install RDF library
        run: pip install rdflib

      - name: Validate turtle syntax
        run: python scripts/validate-syntax.py

  validate-graph-shacl:
    name: Validate shape of `rdf/graph.ttl`
    needs: validate-ttl-syntax
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install PySHACL
        run: |
          pip install rdflib
          pip install pyshacl

      - name: Run owl-based inferencing to construct `graph.ttl`
        run: python scripts/reason.py
      
      - name: Validate graph shape with SHACL CLI
        run: pyshacl -s rdf/shape.ttl -f human rdf/graph.ttl